
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.715);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 60vw;
}

.popup input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

form input {
  margin: 10px;
}
form select {
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
}